yaskolka.rds
.Rhistory
Ataskaita_task1.log
Ataskaita_task1.tex
Ataskaita_task1_files/
Ataskaita_task1.pdf
Ataskaita_task2.pdf
Ataskaita_task3.pdf
Ataskaita_task4.pdf
13059_2013_3156_MOESM3_ESM.csv
*_cache/
*_files/
AgeData/
